.jumbotron {
   background:#256097 !important;
   color: black;
   margin-top: 50px;
}

.btn {
    color:firebrick;

    
}

footer {
    padding: 10px 10 px 0 10 px;
    background-color: #7fadc9;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-curso{

    flex: 1 150px;
    padding: 2px 0px 5px 0px;
    margin-top: 10px;
}


.btn-reserva {

    width: 100px;
    border-radius: 0px;
}

.footer-address-icon{
padding-right: 10px;

}